body {
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 60px;
}

#menu {
  background-color: #fff;
  height: 60px;
  line-height: 60px;
}
#menu img {
  width: 150px;
}
#menu button.hamburger {
  background-color: transparent;
  border: none;
}
#menu button.hamburger .glyphicon {
  color: #3a8aff;
}
#menu nav {
  float: left;
}
#menu nav ul li {
  display: inline-block;
}
#menu nav ul li > span {
  font-size: 1rem;
}
#menu nav ul {
  margin-bottom: 0;
}
#menu nav ul li:not(:first-child) {
  margin-left: 15px;
}
#menu nav ul li button.sign-up {
  background-color: transparent;
  color: #006aff;
  border: 1px solid #006aff;
  border-radius: 4px;
}
#menu nav.menu-nav-2 {
  /* float: right; */
}

#hero {
  background-image: url("../img/hero-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
}
#hero .hero-copy h1 {
  color: #fff;
  font-weight: 700;
}
#hero .hero-copy p {
  color: #bbcdff;
}
#hero .log-in-box {
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 4px;
}
#hero .log-in-copy h4 {
  color: #031c4e;
  font-weight: 700;
  margin-top: 0px;
}
#hero .log-in-copy h4:last-child {
  color: #006aff;
}
#hero .form-control {
  height: auto;
  padding: 6px 6px;
}
#hero button {
  display: block;
  width: 100%;
}
#hero .create-account {
  background-color: #579aff;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 10px;
}
#hero .create-account > span {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
#hero .google-sign-up {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 4px;
  margin-bottom: 10px;
}
#hero .google-sign-up img {
  height: 15px;
}
#hero .google-sign-up span {
  color: #626262;
  font-size: 1.2rem;
  font-weight: 600;
}
#hero .terms span {
  font-size: 1rem;
}

#businesses {
  background-color: #f3f5f9;
  padding: 30px 0;
}
#businesses h6 {
  color: #6f7b97;
  font-weight: 400;
}
#businesses img {
  width: 100%;
 vertical-align: middle;
}

#deploy {
  background-color: #fff;
  padding: 30px 0;
}
#deploy .deploy-copy h3 {
  color: #031c4e;
  font-weight: 700;
}
#deploy .deploy-copy p {
  color: #5c6a88;
}
#deploy nav ul li {
  list-style-type: none;
  color: #75809a;
  border-left: 1px solid #75809a;
  padding-left: 10px;
}
#deploy nav ul li:not(:last-child) {
  padding-bottom: 10px;
}
#deploy nav {
  margin-bottom: 15px;
}
#deploy img {
  height: 3.3rem;
}
#deploy h5 {
  color: #031c4e;
  font-weight: 700;
}
#deploy p {
  color: #75809a;
  font-size: 1.2rem;
}
#deploy .deploy-item.col-sm-5 {
  height: 15rem;
}
#deploy .deploy-features {
  padding: 30px 0;
}

#design {
  background-color: #f3f5f9;
  padding: 30px 0;
}
#design .design-copy h3 {
  color: #031c4e;
  font-weight: 700;
}
#design .design-copy p {
  color: #5c6a88;
}
#design .design-slider {
  padding: 50px 0;
}
#design .design-slider > img {
  width: 50%;
}
#design h6 {
  color: #031c4e;
  font-weight: 400;
}
#design .slider-bullet {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid #006aff;
}
#design .slider-bullet.active {
  background-color: #006aff;
}

@media screen and (min-width: 992px) {
  #hero .hero-copy h1 {
    font-size: 4.5rem;
  }
  #hero .hero-copy p {
    font-size: 2rem;
  }

  #deploy .deploy-copy h3 {
    font-size: 3rem;
  }
  #deploy .deploy-copy p {
    font-size: 1.7rem;
  }

  #design .design-copy h3 {
    font-size: 3rem;
  }
  #design .design-copy p {
    font-size: 1.7rem;
  }
}
